body{
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  background-image: url(../src/2a.png);
  text-align: center;
  color: #819FF7;
  padding: 10%;
  margin: auto;
  
}
#img{
  text-align: center;
  border-image: 3px;
  border-radius: 4%;
}
section{
  
  background-color:#E3CEF6;
  text-align: center;
  padding: 8%;
  border-radius: 15%;

}
 button{
    padding: 2.5%;
    border-radius: 10px;
    font-size: 19px;
    background-color:palevioletred;
    margin: 2% 2% 6% 2%;
}
button:hover{
  background-color: beige;
}
.instrucciones{
  font-size: 30px;
}
.box-msg-style{
   padding: 20%;
}


