body{
  background-image: url(../src/2a.png);
  text-align: center
}
#img{
  text-align: center
}
section{
  
  background-color:#E3CEF6;
  text-align: center;
  padding: 8%;
  border-radius: 15%;
}
 button{
    padding: 3%;
    border-radius: 8px;
    font-size: 19px;
    background-color:palevioletred;
    margin: 2% 2% 6% 2%;
}


. contenthder{
   
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    font-size:13px;
}
