body{
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  background-image: url(../src/2a.png);
  text-align: center;
  padding: 10%;
}
#img{
  text-align: center;
  
}
section{
  
  background-color:#E3CEF6;
  text-align: center;
  padding: 8%;
  border-radius: 15%;

}
 button{
    padding: 2.5%;
    border-radius: 10px;
    font-size: 19px;
    background-color:palevioletred;
    margin: 2% 2% 6% 2%;
}
button:hover{
  background-color: beige;
}
.instrucciones {
  font-size: 30px;
}



